.login {
    
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px grey;
    left: 115px;
    top: 45px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .loginSignup{
    margin-left: -100px;
  }
  .SignUp {
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .SignUp > button {
    background-color: transparent;
    border: none;
    color: rgb(28, 171, 162);
  }
  hr {
    margin: 0;
  }
  .SocialLogin {
    /* display: flex; */
    justify-content: center;
    
    
    margin-top: 20px;
    width: 300px;
    margin-left: -50px;
    
  }
  .SocialLogin > button {
    width: 80%;
    margin: 5px;
    margin-left: 120px;
    color: white;
    font-weight: bold;
  }
  .SocialLogin > button:nth-child(1) {
    background-color: #db4c3f;
  }
  .SocialLogin > button:nth-child(2) {
    background-color: #3c5a96;
  }
  .headLogin{
    text-align: center;
  }